.pokeball {
  height: 200px;
}

.poke {
  display: flex;
  justify-content: center;
  align-items: center;
}

.barra {
  background-color: rgb(255, 255, 255);
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.33);
  height: 20px;
  width: 200px;
  border-radius: 20px;
  overflow: hidden;
}

.attack {
  height: 100%;
  background-color: #eb544d;
  max-width: 100%;
  border-radius: 20px 0px 0px 20px;
}

.hp {
  height: 100%;
  background-color: #22c02a;
  max-width: 100%;
  border-radius: 20px 0px 0px 20px;
}

.defense {
  height: 100%;
  background-color: #f4ea53;
  max-width: 100%;
  border-radius: 20px 0px 0px 20px;
}

.speed {
  height: 100%;
  background-color: #33aeaf;
  max-width: 100%;
  border-radius: 20px 0px 0px 20px;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.filaStat {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #bbbbbb;
}

.number {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: #ffffff;
}

.contGral {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  height: 100%;
  width: 100%;
}

.cont {
  display: flex;
  background-color: #616161;
  
  padding: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
}

.contGris {
  display: flex;
 background:
  linear-gradient(rgba(5,7,12,0.50),rgba(5,7,12,0.50))
  ,url('https://img.freepik.com/vector-gratis/acuarela-real-fondo-rojo-san-valentin_1340-4006.jpg');
 background-repeat: no-repeat;
 background-size: cover;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

.contIzq {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: linear-gradient(rgba(32, 1, 90, 0.877rgba(21, 0, 71, 0.877)8));
  background-size: cover;
  width: 480px;
  height: 470px;
  border-radius: 50px;
  box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.infoBasica {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  
}

.contDer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: transparent;
  width: 380px;
  height: 470px;
  border-radius: 50px;
}

.image {
  min-height: 250px;
  max-width: 250px;
  position: absolute;
  /* object-fit: cover; */
}

.circulo {
 background: 
 linear-gradient(rgba(5,7,12,0.50),rgba(5,7,12,0.50))
 ,url('https://www.grupoyosoy.com/I%20AM%20Activity/Galer%C3%ADa/Llama%20Violeta/VioletFlameANIM_2012_220wx250h.gif');
 background-size: cover;
 background-repeat: no-repeat;
  height: 250px;
  width: 250px;
  position: relative;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-size: 35px;
  color: #ffffff;
}

.types {
  display: flex;
  justify-content: center;
  gap: 15px;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
}

.types div {
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 25px;
  border-radius: 20px;
}

.id {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #66625c;
  max-width: 50%;
  text-align: center;
}

.alturaPeso {
  margin-top: 20px;
  display: flex;
  gap: 30px;
}

.medidas {
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #383838;
  gap: 7px;
  background-color: rgb(182, 182, 182);
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.33);
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 25px;
  color: #ffffff;
}

.navBar {
  background: url('https://i.gifer.com/2eRn.gif');
  background-repeat: none;
  background-size: cover;
  background-position-y: -300px;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.buttonHome {
  cursor: pointer;
  color: #fff;
  background-color: transparent;
  border: none;
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 10px;
}

.deleteButton {
  font-family: "Rubik", sans-serif;
  color: rgb(255, 255, 255);
  background-color: #868686;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  margin-top: 30px;
  padding: 10px 20px;
}

.deleteButton:hover {
  color: rgb(255, 255, 255);
  background-color: #e93228;
  border: none;
}

.buttonRed {
  background-color: #eb544d;
}
